* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right,
    rgba(26, 43, 66, .85),
    rgba(40, 180, 133, .8)), 
        url(../assets/outdoor.jpg);
	background-position: 0 -100px;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: auto;
    color: white;
}

.big-box {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: 150px;
}

.content-us {
    background-color: rgba(85, 200, 125, 0.9);
}

.heading-primary {
    margin: 0 0 50px 50px;
}

.text-box {
    margin: 100px 0 100px 0;
}

.main {
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 5px;
}

.sub {
    font-size: 20px;
    text-transform: uppercase;
    display: block;
}

.service-icon {
    margin-right: 7px;
}

.service {
    display: block;
    margin: 10px 0 10px 50px;
    color: white;
}
.service:hover {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.login-box {
    background-color: rgba(109, 109, 109, .5);
    padding: 0 40px 50px;
    /* color: white; */
}
.login-box h1 {
    margin: 70px 0 40px;
    text-align: center;
    letter-spacing: 7px;
}

.us-icon {
    font-size: 25px;
    margin-top: 7px;
    background: transparent;
    margin-right: 10px;
}

.form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(226, 226, 226);
    color: white !important;
}


input:focus {
    background: transparent !important;
    color: white !important;
    border-color: transparent !important;
    outline: 0 none !important;
    box-shadow: 0 0 0 !important;
    border-bottom: 2px solid white !important;
}
input::placeholder {
    color: white !important;
}

.password {
    margin-bottom: 50px;
}

.us-btn {
    width: 100%;
}

@media (max-height: 500px) {
    .big-box {
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media (max-width: 992px) {
    .heading-primary {
        text-align: center;
        margin: 0 10px 50px;
    }

    .text-box {
        margin: 50px 0 50px;
    }
    
    .main {
        text-transform: uppercase;
        display: block;
        font-weight: 700;
        font-size: 50px;
        letter-spacing: 5px;
    }
    
    .sub {
        padding: 0 50px;
        font-size: 15px;
        text-transform: uppercase;
        display: block;
    }
}